<h3><%= parameter = params[:model_name] %></h3>
<% page= params[:page] %>
<table class="table table-hover">
  <tr>
    <% parameter.constantize.column_names.each do |k| %>
        <th><%= k %></th>
    <% end %>
    <th>Actions</th>
    <th>Association Relationship</th>
  </tr>
  <% @model_pagination.each do |y| %>
      <tr>
        <% parameter.constantize.column_names.each do |k| %>
            <td>
              <%= y.send(k.to_sym).class=='String' ? y.send(k.to_sym).truncate(14) : y.send(k.to_sym).to_s.truncate(14)%>
            </td>
        <% end %>
        <td>
          <%= link_to 'view', fetch_model_infos_show_path(resource: parameter, data: y, page: page), class: 'btn btn-info' %>
          <%= link_to 'edit', fetch_model_infos_edit_path(resource: parameter, data: y), class: 'btn btn-warning' %>
          <%= link_to 'delete', fetch_model_infos_destroy_path(resource: parameter, data: y), data: {confirm: "Are you sure?"}, class: 'btn btn-danger' %>
        </td>
        <td>
          <% relationship_hash ={}%>
          <% relationship_hash = parameter.constantize.reflect_on_all_associations.map{|x| x.name}.zip(parameter.constantize.reflect_on_all_associations.map{|x| x.klass.name if !x.klass.nil?}).to_h %>
          <% if relationship_hash.empty? %>
          <%= 'Sorry no relationship!'%>
          <% else %>
              <% relationship_hash.each do |r,v| %>
                  <%= link_to "#{r} |" , associations_index_path(relational_model: r, model_object_id: y.id, model_class: parameter, relational_model_class: v) %>
              <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>
<div align="right">
  <b><%= link_to 'Add new Record', fetch_model_infos_new_path(:model_new_data => parameter), class: 'btn btn-success' %></b>
</div>
<nav>
  <ul class="pagination">
    <li><%= paginate @model_pagination %></li>
    <%= page_entries_info @model_pagination %>
  </ul>
</nav>

