<h1><%= parameter= params[:model_name] %></h1>
<table class="table table-hover">
  <tr>
    <% parameter.constantize.column_names.each do |k| %>
        <th><%= k %></th>
    <% end %>
    <th>Actions</th>
  </tr>
  <% parameter.constantize.all.each do |y| %>
      <tr>
        <% parameter.constantize.column_names.each do |k| %>
            <td>
              <%= y.send(k.to_sym) %>
            </td>
        <% end %>
        <td>
          <%= link_to 'view', fetch_model_infos_show_path(resource: parameter, data: y) %>
          <%= link_to 'edit', fetch_model_infos_edit_path(resource: parameter, data: y) %>
          <%= link_to 'delete', fetch_model_infos_destroy_path(resource: parameter, data: y), data: {confirm: "Are you sure?"} %>
        </td>
      </tr>
  <% end %>
</table>
<div align="right">
  <b><%= link_to 'Add new Record', fetch_model_infos_new_path(:model_new_data => parameter) %></b>
</div>