<div class="top_block col-md-12">
  <h3 class="pull-left"><%= @model_class %></h3>

  <div class="pull-right">
    <b><%= link_to 'Add new Record', model_new_path(model_class: @model_class), class: 'btn btn-success' %></b>
  </div>
</div>

<table class="table table-hover">
  <tr>
    <% model_column_names.each do |column_name| %>
        <th><%= column_name %></th>
    <% end %>
    <th>Actions</th>
    <th>Association Relationship</th>
  </tr>
  <% @model_pagination.each do |model_data| %>
      <tr>
        <% model_column_names.each do |model_column_name| %>
            <td>
              <%= model_column_value(model_data, model_column_name) %>
            </td>
        <% end %>
        <%= actions(model_data) %>
        <td>
          <% if associations_hash.empty? %>
              <%= "Sorry no association exist for #{model_name}" %>
          <% else %>
              <% associations_hash.each do |k, v| %>
                  <%= link_to "#{k.last} #{k.first} |", associations_index_path(associated_model_name: k.first, model_object_id: model_data.id, model_class: @model_class, associated_model_class: v, macro: k.last) %>
              <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>

<%= download_actions %>

<nav>
  <ul class="pagination">
    <li><%= paginate @model_pagination %></li>
    <%= rel_next_prev_link_tags @model_pagination unless @model_pagination.empty? %>
  </ul>
</nav>

