<%= render :partial => 'layouts/model_info/header' %>
<h3><%= parameter = params[:model_name] %></h3>
<% page= params[:page] %>
<table class="table table-hover">
  <tr>
    <% parameter.constantize.column_names.each do |k| %>
        <th><%= k %></th>
    <% end %>
    <th>Actions</th>
    <th>Association Relationship</th>
  </tr>
  <% @model_pagination.each do |y| %>
      <tr>
        <% parameter.constantize.column_names.each do |k| %>
            <td>
              <%= y.send(k.to_sym).class=='String' ? y.send(k.to_sym).truncate(14) : y.send(k.to_sym).to_s.truncate(14)%>
            </td>
        <% end %>
        <td>
          <%= link_to 'view', model_path(resource: parameter, data: y, page: page), class: 'btn btn-info' %>
          <%= link_to 'edit', edit_model_path(resource: parameter, data: y), class: 'btn btn-warning' %>
          <%= link_to 'delete', model_path(resource: parameter, data: y), method: :delete,data: {confirm: "Are you sure?"}, class: 'btn btn-danger' %>
        </td>
        <td>
          <% relationship_hash ={}, a1=[], a2=[]%>
          <% parameter.constantize.reflect_on_all_associations.each do |d|%>
              <%  d.options[:polymorphic] ? a1.push(d.active_record.name) : a2.push(d.klass.name) %>
          <% end %>
          <% relationship_hash = parameter.constantize.reflect_on_all_associations.map{|x| [x.name, x.macro]}.zip(a1+a2).to_h %>

          <% if relationship_hash.empty? %>
              <%= 'Sorry no relationship!'%>
          <% else %>
              <% relationship_hash.each do |r,v| %>
                  <%= link_to "#{r.last} #{r.first} |" , associations_path(relational_model: r.first, model_object_id: y.id, model_class: parameter, relational_model_class: v, macro: r.last) %>
              <% end %>
          <% end %>
        </td>

      </tr>
  <% end %>
</table>
<div align="right">
  <b><%= link_to 'Add new Record', new_model_path(:model_new_data => parameter), class: 'btn btn-success' %></b>
</div>
<nav>
  <ul class="pagination">
    <li><%= paginate @model_pagination %></li>
    <%= page_entries_info @model_pagination %>
  </ul>
</nav>

