<!DOCTYPE html>
<html>
<head>
  <title>ModelInfo</title>
  <%= stylesheet_link_tag "model_info/application", media: "all" %>
  <%= javascript_include_tag "model_info/application" %>
  <%= csrf_meta_tags %>
  <%= render :partial => 'layouts/model_info/header' %>
  <%= render :partial => 'layouts/model_info/models_header' %>
</head>

<body>
<div class="container-fluid">
  <%= yield %>
</div>
</body>
</html>
<script type="text/javascript">
    $(function (e) {
        $('.models_tab').first().addClass('active');
        $('.models_tab').on('click', function (j) {
//            $('.models_tab').removeClass('active');
            $(this).addClass('active');
        });
    })
</script>