<div class='jumbotron'>
  <%= form_for model_data, url: url, method: local_assigns[:new] ? :post : :patch do |f| %>
      <% (model_data.class.column_names - %w(id serialized_options created_at updated_at)).each do |attribute| %>
          <div class='form-group'>
            <%= f.label attribute %>
            <%= hidden_field_tag :model_class, model_class %>
            <div class='form-group'>
              <%= f.text_field attribute, :class => 'form-control' %>
            </div>
          </div>
      <% end %>
      <%= f.submit local_assigns[:new] ? 'Create Record' : 'Save Changes', class: 'btn btn-primary' %>
  <% end %>
</div>