<div class="jumbotron">
  <%= form_for @relational_data, url: association_path, method: :post do |f| %>
      <% (@relational_data.class.column_names - %w(id created_at updated_at serialized_options)).each do |resource_field| %>
          <div class="form-group">
            <%= f.label resource_field %>
            <%= hidden_field_tag :relational_model, @relational_model%>
            <%= hidden_field_tag :relational_model_class, @relational_model_class%>
            <%= hidden_field_tag :model_class, @model_class%>
            <%= hidden_field_tag :model_object_id, @model_object_id%>
            <div class="form-group">
              <%= f.text_field resource_field %>
            </div>
          </div>
      <% end %>
      <button class="btn btn-primary" type="submit">Create associative record</button>
  <% end %>
</div>