<%= render :partial => 'layouts/model_info/header' %>
<h3>Associated Data of <%= @model_class%> to <%= @relational_model%></h3>
<% page= params[:page] %>
<table class="table table-hover">
  <tr>
    <% @relational_model.singularize.classify.constantize.column_names.each do |k| %>
        <th><%= k %></th>
    <% end %>
    <th>Actions</th>
  </tr>
  <% @relational_model_pagination.each do |y| %>
      <tr>
        <% @relational_model_class.column_names.each do |k| %>
            <td>
              <%= y.send(k.to_sym) %>
            </td>
        <% end %>
        <td>
          <%= link_to 'view', associations_show_path(model_class: @model_class,model_object_id: @model_object_id,relational_model: @relational_model,relational_model_class: @relational_model_class, data: y, page: page) %>
          <%= link_to 'edit', associations_edit_path(model_class: @model_class,model_object_id: @model_object_id,relational_model: @relational_model,relational_model_class: @relational_model_class, data: y, page: page) %>
          <%= link_to 'delete', associations_destroy_path(model_class: @model_class,model_object_id: @model_object_id,relational_model: @relational_model,relational_model_class: @relational_model_class, data: y), data: {confirm: "Are you sure?"} %>
        </td>
      </tr>
  <% end %>
</table>
<div align="right">
  <b><%= link_to 'Add new Record', fetch_model_infos_new_path(:model_new_data => @model_class) %></b>
</div>
<nav>
  <ul class="pagination">
    <li><%= paginate @relational_model_pagination %></li>
    <%= page_entries_info @relational_model_pagination %>
  </ul>
</nav>

